/* src/App.css */
body {
  background-color: #E42929!important;
}
.App {
  text-align: center;
  
}

.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  margin-top: 64px;
}
